.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.44rem;
    padding: 0 12%;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-family: Oswald, sans-serif;
    font-size: .77rem;
    font-weight: bold;
}
a.logo-small {
    text-decoration: none;
    flex-grow: 1;
    color: black;
    font-family: 'Plaster', sans-serif;
    /*Fascinate, Oswald, Plaster, Poiret One*/
    font-size: 40px;
    margin-right: 30%;
}
.header li {
    display: inline;
    padding: 1rem 1.11rem;
}

.header li:hover {
    background-color: lightgray;
}

ul .nav {
	text-decoration: none;
}

