/* Universal */
html {
	font-family: Oswald;
}

/* Navigation */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.44rem;
    padding: 0 12%;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-family: Oswald, sans-serif;
    font-size: .77rem;
    font-weight: bold;
}
a.logo-small {
    text-decoration: none;
    /*flex-grow: 1;*/
    color: black;
    font-family: 'Plaster', sans-serif;
    /*Fascinate, Oswald, Plaster, Poiret One*/
    font-size: 40px;
    margin: 0 0;
    float: left;
}
.header ul {
	flex-grow: 1;
	float: right;
}
.header li {
    display: inline;
    margin: 10%;
    padding: 1rem 1.11rem;
}

.header li:hover {
    background-color: lightgray;
}

ul .nav {
	text-decoration: none;
}


/* Jumboton */

.jumbotron {
	background: url("./tyler-lastovich-453203-unsplash.jpg") center;
	background-size: cover;
	height: 600px;
}

.jumbotron .container {
	position: relative;
	top: 150px;
	background-color: white;
	opacity: 0.5;
	width: 30rem;
	margin-left: 7%;
	padding: 5px 20px 30px 20px;
}

.jumbotron p {
	color: black;
	font-size: 25px;
	line-height: 1.4;
}

.jumbotron .first-letter {
	font-size: 7.44rem;
	color: orange;
	position: relative;
	line-height: 0.87;
}

.jumbotron .author {
	color: orange;
}


.main .container {
	padding: 50px 100px;
	height: 70%;
	background-color:black;
	color: white;
	opacity: 0.87;
}

.main .first-letter {
	font-size: 4.44rem;
	color: orange;
	position: relative;
	line-height: 0.87;
}

.main .author {
	color: orange;
}



/* About */
.about .container {
	background-color: lightgrey;
	height: 700px;
}

/* Portfolio */
.portfolio .container {
	background-color: #2a2a2a;
	height: 700px;
	color: white;
}
/* Contact */
.contact .container {
	background-color: lightgrey;
	height: 700px;
}
